<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <!--[if gt IE 8]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <![endif]-->

    <title>Conexão Mais</title>

    <link rel="icon" type="image/ico" href="favicon.ico" />
    <link href="@Url.Content("~/Content/Admin/stylesheets.css")" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]>
        <link href="css/ie7.css" rel="stylesheet" type="text/css" />
    <![endif]-->

    <script type='text/javascript' src="@Url.Content("/Scripts/jquery.min.js")"></script>
    
    <script type='text/javascript' src='@Url.Content("/Scripts/Admin/plugins/jquery/jquery-ui-1.10.1.custom.min.js")'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/Admin/plugins/jquery/jquery-migrate-1.1.1.min.js")'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/Admin/plugins/jquery/jquery.mousewheel.min.js")'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/Admin/plugins/cookie/jquery.cookies.2.2.0.min.js")'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/Admin/plugins/bootstrap.min.js")'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/Admin/plugins/charts/excanvas.min.js")'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/Admin/plugins/charts/jquery.flot.js")'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/Admin/plugins/charts/jquery.flot.stack.js")'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/Admin/plugins/charts/jquery.flot.pie.js")'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/Admin/plugins/charts/jquery.flot.resize.js")'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/Admin/plugins/sparklines/jquery.sparkline.min.js")'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/Admin/plugins/fullcalendar/fullcalendar.min.js")'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/Admin/plugins/select2/select2.min.js")'></script>
    @*<script type='text/javascript' src='@Url.Content("/Scripts/Admin/plugins/uniform/uniform.js")'></script>*@
    <script type='text/javascript' src='@Url.Content("/Scripts/Admin/plugins/maskedinput/jquery.maskedinput-1.3.min.js")'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/Admin/plugins/validation/languages/jquery.validationEngine-en.js")' charset='utf-8'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/Admin/plugins/validation/jquery.validationEngine.js")' charset='utf-8'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/Admin/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js")'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/Admin/plugins/animatedprogressbar/animated_progressbar.js")'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/Admin/plugins/qtip/jquery.qtip-1.0.0-rc3.min.js")'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/Admin/plugins/cleditor/jquery.cleditor.js")'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/Admin/plugins/dataTables/jquery.dataTables.min.js")'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/Admin/plugins/fancybox/jquery.fancybox.pack.js")'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/Admin/plugins/pnotify/jquery.pnotify.min.js")'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/Admin/plugins/ibutton/jquery.ibutton.min.js")'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/plugins.js")'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/cookies.js")'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/actions.js")'></script>
    <script type='text/javascript' src='@Url.Content("/Scripts/settings.js")'></script>
    
</head>
<body>
    <div class="wrapper">
        @Html.Partial("_Header")
        @Html.Partial("_MenuLateral")

        <div class="content">
            <div class="breadLine"></div>
            @RenderBody()
        </div>
    </div>
    <div class="window-modal" style="display: none;" id="modalWindow">
    </div>
</body>
</html>
